services:
  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    container_name: fyp-api
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
    depends_on:
      - db
  db:
    image: postgres:15
    container_name: fyp_postgres
    restart: always
    environment:
      POSTGRES_USER: forensic
      POSTGRES_PASSWORD: forensicpass
      POSTGRES_DB: fyp
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
